<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /drahmi-api/
    
    # Redirect all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Security headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

# Deny access to sensitive files
<FilesMatch "(^#.*#|\.(git|env|sql|md|yml|yaml|json|xml)|config\.php)">
    Order allow,deny
    Deny from all
</FilesMatch>